html {
    font-size: 1px;
}

body {
    margin: 0;
    font-family: "Arial";
    cursor: url('cursor.cur'), auto;
}

hr {
    margin: 20rem 0;
    border: none;
    border-top: 1px solid #e4e4ec;
}

sup {
    font-size: 0.6em;
}

input,
select,
textarea {
    box-sizing: border-box;
}

textarea {
    min-height: 105rem;
    max-height: 200rem;
    font-family: "Arial";
    resize: vertical;
}

iframe {
    border: none;
}

.map {
    width: 100%;
    min-height: 250rem;
}

.shadow {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1));
    background-color: #ffffff;
    margin-bottom: 40px;
}
/* костиль для падінгів по горизонталі  */
.wrapper {
    margin: 0 auto;
    padding-left: 20rem !important; 
    padding-right: 20rem !important;
    max-width: 960rem;
}

.mb10 {
    margin-bottom: 10rem;
}

.flex-between {
    display: flex;
    justify-content: center;
    row-gap: 10rem;
    flex-wrap: wrap;
}

.container {
    background-color: #1f1f56;
    padding: 11rem 0;
}

.colum {
    min-width: 219rem;
    box-sizing: border-box;
}

.menu {
    justify-content: space-between;
}

.menu ul {
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
}

.menu li:hover>a {
    color: #fd8300;
}

.menu a {
    font-size: 14rem;
    letter-spacing: 2rem;
    line-height: 1.71em;
    color: #b1b1d2;
    text-decoration: none;
}

.burger {
    position: relative;
    width: 30rem;

}
/* трансформ орігін для фіксації місця */
.burger span {
    position: absolute;
    display: inline-block;
    height: 3rem;
    width: 24rem;
    background-color: #fd8300;
    transform-origin: left;
    transition: all 0.3s ease;
}

.burger span:first-child {
    top: 0;    
}

.burger span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);    
}

.burger span:last-child {
    bottom: 0;    
}

.burger-open span:first-child {
    transform: rotate(42deg);
}

.burger-open span:last-child {
    transform: rotate(-42deg);
}

.burger-open span:nth-child(2) {
    opacity: 0;

}

.main-menu {
    display: none;
}

.main-menu li {
    margin-right: 25rem;
}

.menu-open {
    position: fixed;
    top: 45rem;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 10rem 20rem !important;
    width: 100%;
    text-align: center;
    background-color: #1f1f56;
    box-sizing: border-box;
    z-index: 1;

}

.social-networks li {
    margin-left: 22rem;
}

.social-networks a {
    display: block;
    background: url(img/sprite.png) no-repeat;
}

a.fb {
    height: 19px;
    width: 10px;
    background-position: 0 0;
}

a.fb:hover {
    background-position: 0 -21px;
}

a.tw {
    height: 15px;
    width: 18px;
    background-position: -12px 0;
}

a.tw:hover {
    background-position: -12px -21px;
}

a.inst {
    height: 19px;
    width: 19px;
    background-position: -32px 0;
}

a.inst:hover {
    background-position: -32px -21px;
}

.contact {
    padding: 20rem 0;
    align-items: center;
}

.icon {
    position: relative;
}

.icon::before {
    content: '';
    position: absolute;
    top: 3rem;
    left: -30rem;
    background-image: url(img/sprite.png);
}

.tel::before {
    height: 17px;
    width: 16px;
    background-position: -53px 0;
}

.e-mail::before {
    height: 13px;
    width: 17px;
    background-position: -71px 0;
}

.skype::before {
    top: 0;
    height: 19px;
    width: 18px;
    background-position: -90px 0;
}

.phone,
.mail {
    padding-left: 48rem;
}

.phone p {
    margin: 0;
}

.phone p:first-child,
.mail p:first-child {
    margin-bottom: 6rem;    
}

.phone a {
    font-size: 18rem;
    line-height: 1.33em;
    color: #25252c;
    font-weight: bold;
    text-decoration: none;
}

.contact-phone {
    padding: 0;
}

.mail p {
    margin: 0;
}

.mail a {
    font-size: 16rem;
    line-height: 1.5em;
    text-decoration: underline;
    color: #25252c;
}

a.skype {
    text-decoration: none;
}

.call-back {
    display: inline-block;
    padding: 12rem 25rem;
    font-size: 16rem;
    line-height: 1.5em;
    color: #25252c;
    font-weight: bold;
    border-radius: 25rem;
    background-color: #ffffff;
    border: 2px solid #fd8300;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease;
}

.call-back:hover {
    color: #fff;
    background-color: #fd8300;
    border: 2px solid #1f1f56;
}

.colum-call-back {
    text-align: center;
}

.img-text {
    padding-top: 55rem;
    padding-bottom: 40rem;
    background-image: url(img/Rectangle.png);
    background-size: cover;
}

.img-text p {
    margin: 0;
}

.img-text b {
    font-size: 24rem;
    line-height: 1em;
    color: #fd8300;
    font-family: "Arial";
}

.head {
    font-size: 30rem;
    letter-spacing: 2rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-align: center;

}

.text {
    font-size: 14rem;
    line-height: 1.71em;
    color: #fff;
    font-family: "Arial";
    text-align: center;
}

.price {
    font-size: 40rem;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;

}

h1 {
    margin-top: 10rem;
    font-size: 30rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}


.main-wrapper {
    padding: 35rem 0 40rem;
    column-gap: 28rem;
}

.about p {
    font-size: 14rem;
    line-height: 1.71em;
    color: #666666;
    font-family: "Arial";
}

.about a {
    font-size: 14rem;
    line-height: 1.3em;
    color: #fd8300;
    text-decoration: underline;
    font-weight: bold;
    font-family: "Arial";
}

.about a:hover {
    color: #25252c;
    text-decoration: none;
}

.category {
    width: 100%;
}

.category nav {
    position: sticky;
    top: 35rem;
    border-radius: 3px;
    overflow: hidden;
}

.category p {
    margin: 0;
    padding: 14rem;
    font-size: 16rem;
    line-height: 1.5em;
    color: #fff;
    font-weight: 700;
    font-family: "Roboto Slab";
    background-color: #1f1f56;
}

.category ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.category li {
    position: relative;
}

.category a {
    display: block;
    padding: 10rem;
    background-color: #e4e4ec;
    font-size: 14rem;
    line-height: 1.71em;
    color: #25252c;
    font-family: "Arial";
    text-decoration: none;
}

.category li:hover>a {
    color: #fff;
    background-color: #fd8300;
}

.category li:hover .category-in {
    display: block;
}

.aside-menu>li+li {
    border-top: 1px solid #cecedd;
}

.aside-menu>li::before {
    content: "";
    position: absolute;
    right: 12rem;
    top: 17rem;
    width: 7rem;
    height: 7rem;
    border-bottom: 2px solid #666666;
    border-right: 2px solid #666666;
    box-sizing: border-box;
    transform: rotate(-45deg);
}

.aside-menu>li:hover::before {
    transform: rotate(45deg);
    border-color: #ffffff;

}

.category-in {
    display: none;
}

.category-in li a {
    padding-left: 30rem;
    font-size: 14rem;
    line-height: 1.71em;
    color: #666666;
    font-family: "Arial";
}

.category-in li a:hover {
    background-color: #cecedd;
    color: #666666;


}

.popular {
    text-align: center;
    font-size: 24rem;
    line-height: 1em;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.project {
    column-gap: 28rem;
}

.project p {
    margin: 0;
}

.project figure {
    margin: 0;
}

h2 {
    margin: 0;
}

.project h2 {
    font-size: 14rem;
    line-height: 24rem;
    color: #1f1f56;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

.project p {
    font-size: 13rem;
    line-height: 1.38em;
    color: #9999a6;
    font-family: "Arial";
}

.house {
    position: relative;
}

.house a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.house a:hover+h2 {
    text-decoration: underline;
}

.navigation {
    padding: 40rem 0 30rem;
    background-color: #ededf5;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation li a {
    font-size: 14rem;
    line-height: 26rem;
    color: #666666;
    font-family: "Arial";
    text-decoration: none;

}

.navigation li a:hover {
    text-decoration: underline;
    color: #fd8300;
}

.copyright {
    margin: 0 auto;
    padding: 15rem;
    background-color: #dcdce6;
    font-size: 13rem;
    line-height: 1.38em;
    color: #9999a6;
    font-family: "Arial";
    text-align: center;
}

.table-wrap {
    overflow-x: scroll;
}

.table {
    margin: 20rem 0;
    width: 685rem;
    border-collapse: collapse;
    border-radius: 3px;
    overflow: hidden;
    border-radius: 3px;
}

.table th {
    padding: 9rem 21rem;
    text-align: left;
    font-size: 14rem;
    line-height: 1.71em;
    font-weight: 700;
    font-family: "Roboto Slab";
    color: #ffffff;
    background-color: #1f1f56;
}

.table td {
    padding: 9rem 21rem;
    font-size: 14rem;
    line-height: 1.71em;
    color: #666666;
    background-color: #e4e4ec;
    box-shadow: inset 0px -1px 0px #cecedd;
}

.table td:first-child {
    min-width: 190rem;
}

.table td:last-child {
    min-width: 100rem;
}

.table tr:last-child>td {
    box-shadow: none;
}

.table tr:hover>td {
    color: #ffffff;
    background-color: #fd8300;
}

.table th:last-child,
.table td:last-child {
    text-align: right;
    padding-right: 21rem;
}

.gray-text {
    margin-bottom: 20rem;
}

.gray-text p {
    font-size: 14rem;
    line-height: 1.5em;
    color: #666666; 
}

.main-contact {
    margin-bottom: 40rem;
}

.main-contact h1 {
    text-align: center; 
}

.main-contact p {
    margin: 0;
    margin-bottom: 5rem;
}

.form {
    width: 50%;
}

.flex-form {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10rem;
    row-gap: 10rem;
    align-items: center;
}

.flex-form label {
    width: 100%;
}

.contact-page {
    justify-content: start;
}

.form {
    width: 100%;
}

.contact-page {
    column-gap: 28rem;
}

.form h2,
.contact-page h2 {
    margin-bottom: 10rem;
    font-size: 14rem;
    line-height: 1.4em;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.form h2 {
    text-align: center;
}

.form-map {
    column-gap: 25rem;
}

.contact-mail {
    font-size: 16rem;
    line-height: 1.5em;
    text-decoration: underline;
    color: #25252c;
}

.input-style {
    padding: 12rem;
    width: 100%;
    font-style: italic;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #c5c5d4;
}

.input-style:focus {
    outline: none;
}

.submit {
    flex-grow: 0;
    padding: 9rem 30rem;
    border-radius: 21px;
    outline: none;
    border: none;
    background-color: #fd8300;
    font-size: 14rem;
    line-height: 1.71em;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.submit:hover {
    color: #24242b;
    background-color: #c5c5d4;
}

.checkbox-margin {
    font-size: 13rem;
    line-height: 1.61em;
}

.check-style {
    display: none;
}

.check-style+label {
    position: relative;
    padding-left: 25rem;
}

.check-style+label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15rem;
    height: 15rem;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #c5c5d4;
    box-sizing: border-box;
}

.check-style:checked+label::after {
    content: '';
    position: absolute;
    top: 3rem;
    left: 4rem;
    height: 6rem;
    width: 8rem;
    border-left: 2px solid #1f1f56;
    border-bottom: 2px solid #1f1f56;
    transform: rotate(-45deg);
    box-sizing: border-box;
}



.footer {
    text-align: center;
}

@media screen and (min-width: 425px) {
    .contact-page {
        padding-left: 50rem;
    }
}

@media screen and (min-width: 478px) {
    .footer {
        display: flex;
    }
    .contact {
        column-gap: 28rem;
    } 
}

@media screen and (min-width: 768px) {
    .flex-between {
        justify-content: space-between;
    }
    .table-wrap {
        overflow-x: visible;
    }
    .table {
        width: 100%;
    }
    .burger {
        display: none;
    }
    .main-menu {
        display: block;
    }
    .colum,
    .form h2,
    .popular {
        text-align: left;
    }
    .colum-call-back {
        margin: 0 auto;
        text-align: center;
    }
    .project {
        column-gap: 20rem;
    }
    .main-contact p {
        margin-bottom: 13rem;
    }
    .contact-page h2 {
        margin-bottom: 20rem;
    }
    .contact-page {
        justify-content: center;
        column-gap: 60rem;
    }
    .flex-form {
        flex-wrap: nowrap;
    }
    .checkbox-margin {
        font-size: 13rem;
        line-height: 1.61em;
        margin: 0 13rem;
    }
    .justify-centr {
        justify-content: center;
    }
    
}

@media screen and (min-width: 960px) {
    .flex-between {
        justify-content: space-between;
        flex-wrap: nowrap;
        column-gap: 15rem;
    }
    .stick {
        position: relative;
    }
    .stick::before {
        content: "";
        position: absolute;
        right: -18px;
        width: 1px;
        height: 51px;
        background-color: #e4e4ec;    
    } 
    .colum-call-back {
        margin: 0;
        text-align: right;
    }
    .main-contact h1 {
        text-align: left;
    }
    .contact-page {
        padding-left: 0;
        padding-right: 60rem;
    }
} 

@media screen and (min-width: 2560px) {
    html {
        font-size: 1.5px;
    }  
      
    .icon::before,
    a.fb,
    a.tw,
    a.inst {
        transform-origin: top;
        transform: scale(1.5);
    }
}
